<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
  <div>
    <h4 class="mb-3 mb-md-0">Welcome to Dashboard</h4>
  </div>
  <div class="d-flex align-items-center flex-wrap text-nowrap">
    <button type="button" class="btn btn-primary btn-icon-text mb-2 mb-md-0">
      <i class="btn-icon-prepend" data-feather="download-cloud" appFeatherIcon></i>
      Download Report
    </button>
  </div>
</div>

<div class="row">
  <div class="col-12 col-xl-12 grid-margin stretch-card">
    <div class="card overflow-hidden">
      <div class="card-body">
          <app-embed-tableau-viz divId="JobsAnalysis" vizUrl="https://public.tableau.com/views/Classeur1_16802748488610/DurationDashboard?:language=en-US&:display_count=n&:origin=viz_share_link"></app-embed-tableau-viz>
      </div>
    </div>
  </div>
</div> <!-- row -->
